_out_ang/*
out_sem/*
lane_model*
tutorial/.ipynb_checkpoints/*
*.png
*.jpg
*.mp4
Semantic segmentation/model/*
Semantic segmentation/.ipynb_checkpoints/*
utils and building blocks/.ipynb_checkpoints/*
